<p id="notice"><%= notice %></p>

<h1>Listing Medicines</h1>


  <div class="row">
    <form class="search-form">
      <%= text_field_tag 'search', "", class: "typeahead", multiple: "multiple" %>
    </form>

          <%= form_tag medicines_filter_path, method: :get, remote: true, id: 'filters' do %>
    <% Medicine::Options.each do |option| %>
    <% multy = option[:multiple] ? "[]" : "" %>
            <%= select_tag option[:name].to_sym, options_for_select(option[:name].classify.constantize.all.collect {|x| [x.name, x.id]}, :selected => params[option[:name].to_sym]), include_blank: true, class: "selectpicker filter", multiple: option[:multiple], name: option[:name] + multy %>

    
    <% end %>
          <% end %>
    <div class="col-sm-2">

    </div>
    <div id="medicines-list" class="col-sm-9">
      <%= render partial: 'filter' %>
    </div>
  </div>
  
